*{
    margin: 0;
    padding: 0;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
}
header{
    display: flex;
    background-color: #065739;
    justify-content: space-around;
    color: whitesmoke;
    align-items: center;
    height: 90px;
}

.line{
    height: -1px;
    width: 30px;
    margin-top: 10px;
    border: 1.5px solid white;
}

.menu{
    cursor: pointer;
}

.img{
    height: 90px;
    margin-left: 150px;
    cursor: pointer;
}
 nav ul{
    display: flex;
    gap: 40px;
 }

 nav ul li{
    list-style: none;
 }

 nav ul li a{
    text-decoration: none;
    color: whitesmoke;
 }
 .nav{
    margin-left: 100px;
 }
 .video{
    width: 100%;
    height: 50%;
}

